@model List<Product>
@using DevSparsh.Models;
@using Microsoft.AspNetCore.Identity;
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
<partial name="_Notification" />
    <h2 class="text-center mb-5">List of Products</h2>

    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-sm-4">
                <div class="card">
                    <img src="/Images/products/@product.ImageUrl" class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title">@product.Name</h5>
                        <p class="card-text">@product.Category</p>
                        <p class="card-text">@product.Description</p>
                        <p class="card-text">Rs. @product.Price</p>
                    </div>
                </div>
            </div>
        }
    </div>

}
else
{
    <div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p><a href="Identity/Account/Login">Please Log-In</a> to see our portfolio.</p>
    </div>

}

